body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

#app {
  min-height: 100vh;
}

.searchForm {
  background: #222629;
  padding: 10px;
  color: white;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.searchForm__input {
  border: none;
  height: 18px;
  border-radius: 1px;
  box-sizing: border-box;
  padding: 1px 4px;
  margin-right: 3px;
  vertical-align: bottom;
}

.searchForm__input:focus {
  outline: none;
  box-shadow: 0 0 1px 2px #ec2023;
}

.searchForm__fieldset:disabled {
  opacity: 0.6;
}

.searchForm__submit {
  background: #ec2023;
  padding: 0 20px;
  position: relative;
  transition: padding 0.3s;
  color: white;
  text-transform: uppercase;
}

.searchForm__reset {
  background: transparent;
  padding: 0 20px;
  position: relative;
  color: white;
  text-transform: uppercase;
  border: 1px solid;
}

.searchForm__submit:disabled {
  padding: 0 30px 0 10px;
}

.spinner {
  display: inline-block;
  width: calc(64px / 4);
  height: calc(64px / 4);
}

.searchForm__submit::after {
  position: absolute;
  right: 0;
  top: 2px;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #FFF transparent #FFF transparent;
  animation: spinner 1.2s linear infinite;
  transition: right 0.3s, opacity 0.3s;
  opacity: 0;
}

.searchForm__submit:disabled::after {
  right: 10px;
  opacity: 1;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.charactersList {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.characterCard {
  max-width: 300px;
  min-width: 200px;
  max-height: 400px;
  min-height: 300px;
  flex: 1;
  position: relative;
  cursor: pointer;
}

.characterCard::before {
  position: absolute;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid;
  border-color: rgba(0, 0, 0, 0.4) transparent rgba(0, 0, 0, 0.4) transparent;
  animation: spinner 1.2s linear infinite;
  z-index: -1;
}

.characterCard__thumb {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.characterCard__name {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(34, 38, 41, 0.8);
  padding: 5px;
  color: white;
  font-weight: 300;
}

.covers__year {
  margin: 0;
  background: #222629;
  width: 100%;
  color: white;
  box-sizing: border-box;
  padding: 4px;
  font-weight: 300;
}

.coversList {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.coverCard {
  display: block;
}

.coverCard__image {
  max-width: 300px;
  min-width: 200px;
  max-height: 400px;
  min-height: 300px;
  flex: 1;
  position: relative;
  cursor: pointer;
  display: block;
}
