<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<style>
			[v-cloak] {display: none};
		</style>
		<link rel="stylesheet" href="app.css">		
	</head>
	<body>

		<div id="app" v-cloak>
			<!-- block used to have you search for a char -->
			<div v-if="needCharacter">
				<p>
					Enter a character name: <input v-model="character" type="search"> 
					<button @click="search()" :disabled="characterSearching">Search</button>
					<span v-if="characterSearching"><i>Searching...</i></span>
				</p>

				<p v-if="noCharacters">
					I'm sorry but I couldn't find any matches for that search.
				</p>

				<div v-if="characters">
					<ul>
						<p v-for="character in characters">
							<a href="" @click.prevent="loadChar(character)">{{character.name}}</a> <img :src="character.thumbnail" class="charThumb">
						</p>
					</ul>
				</div>

			</div>

			<!-- you have a char, we're getting covers now -->
			<div v-if="loadingCharacter">
				<p v-if="loadingCovers">
					<i>Loading covers...</i>
				</p>
				<div v-if="covers">
					<div v-for="coverData in covers">
						<h2>{{coverData.year}}</h2>

						<span v-for="comic in coverData.comics">
							<img :src="comic.cover" class="cover" :title="comic.title">
						</span>
					</div>
				</div>
			</div>

		</div>

		<script src="https://unpkg.com/vue"></script>
		<script src="app.js"></script>
	</body>
</html>